.playerForm {
  margin: 4px;
  padding: 12px;
  border: black;
  border-width: 2px;
  border-style: solid;
  width: 300px;
}

.loadPlayer {
  margin-bottom: 8px;
}

.loadPlayer .inputRow {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loadPlayer .input {
  flex-grow: 1;
  flex-shrink: 2;
  resize: none;
  height: 16px;
  min-width: 20px;
}

.loadPlayer .button {
  flex-shrink: 0;
  margin-left: 4px;
  margin-right: 16px;
}

.playerForm .divider {
  border: 1px solid black;
}

.playerSummary {
  margin-top: 12px;
}

.playerSummary .button {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  text-align: start;
  font-size: 15px;
  padding: 4px;
}

.playerSummary .button:hover {
  background-color: #2f3237;
}

.playerSummary .itemName {
  font-weight: bold;
  text-decoration: underline;
}

.playerSummary .itemDescription {
  font-size: 12px;
  margin-top: 4px;
}