.playerForm {
  display: flex;
  flex-direction: column;
  margin: 4px;
  width: 330px;
}

.playerForm .profile {
  flex-grow: 1;
  border: 2px solid green;
  padding: 12px;
}

.playerForm .disabled {
  border-color: #232529;
}

.playerForm .usernameInput {
  margin-left: 4px;
  margin-bottom: 8px;
}

.loadPlayer {
  margin-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
}

.loadPlayer .inputRow {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loadPlayer .input {
  flex-grow: 1;
  flex-shrink: 2;
  resize: none;
  height: 16px;
  min-width: 20px;
}

.loadPlayer .button {
  flex-shrink: 0;
  margin-left: 4px;
  margin-right: 16px;
}

.item {
  margin-bottom: 4px;
}

.item .nameInput {
  margin-right: 4px;
}

.playerSummary {
  margin-top: 12px;
}

.playerSummary .button {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  text-align: start;
  font-size: 15px;
  padding: 4px;
}

.playerSummary .button:hover {
  background-color: #2f3237;
}

.playerSummary .content {
  font-size: 12px;
}

.playerSummary .statsSection {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  margin-bottom: 12px;
}

.playerSummary .stat {
  margin-right: 16px;
}

.playerSummary .itemName {
  font-weight: bold;
  text-decoration: underline;
}

.playerSummary .itemDescription {
  margin-top: 4px;
}